<% provide :title, t("layouts.help") %>
<h1><%= t "layouts.help" %></h1>
<p>
  <%= t "help.get_help" %> <a href="http://www.railstutorial.org/help">
    <%= t "help.help_page" %></a>. 
  <%= t "help.get_book" %> <a href="http://www.railstutorial.org/book"><em>
    <%= t "help.rails_book" %></em></a>
</p>
