<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".get_help" %> 
  <%= link_to t(".help_page"), "http://www.railstutorial.org/help" %>. 
  <%= t ".get_book" %> 
  <em><%= link_to t(".rails_book"), "http://www.railstutorial.org/book" %></em>
</p>
