<footer class="footer">
  <small>
    <%= link_to t("footer.fels"), root_path %> <%= t "footer.author" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layouts.about"), "/pages/about" %></li>
      <li><%= link_to t("layouts.contact"), "/pages/contact" %></li>
      <li><a href="http://news.railstutorial.org/">
        <%= t "footer.rails_tutorial" %></a></li>
    </ul>
  </nav>
</footer>
