<footer class="footer">
  <small>
    <%= link_to t(".fels"), root_path %> <%= t ".author" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "/pages/about" %></li>
      <li><%= link_to t(".contact"), "/pages/contact" %></li>
      <li><%= link_to t(".rails_tutorial"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
